@import "compass/css3";

@include font-face("Flaticon", font-files("flaticon.ttf"), "flaticon.eot");

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.flaticon-businessman254:before {
  content: "\e000";
}
.flaticon-check86:before {
  content: "\e001";
}
.flaticon-medical51:before {
  content: "\e002";
}
.flaticon-paper101:before {
  content: "\e003";
}
