@import "settings";
@import "foundation";
@import "compass";
@import "fonts";

html, body{
  font-size: 22px;
}

html, body{
  height: 100%;
  overflow-x: hidden;
}

body.page-home{
  div nav.top-bar{
    background: white;
    opacity: .9;
    li.brand .logo{
      width: 240px
    }
    section.top-bar-section{
      ul li{
        a{
          background: white;
          color: #51ACC3;
          &:hover{
            background: white;
            color: #51ACC3;
          }
        }
      }
    }
  }
  .container{
    section.hero{
      height: 470px;
      &::before{
        background-image: image-url('home-hero2.png');
        background-size: cover;
        background-position: 0px 70%;
        clip: rect(0px, 1282px, 470px, 0px);
        content: '';
        filter: brightness(75%);
        height: inherit;
        left: 0px;
        position: absolute;
        width: 101%;
        z-index: -1;
        -webkit-filter: brightness(75%);
        -moz-filter: brightness(75%);
        -o-filter: brightness(75%);
        -ms-filter: brightness(75%);
      }
      .intro .medium-12{
        padding: 0 1.2rem;
        h1{
          color: white;
          font-size: 2em;
          font-weight: 100;
          margin-top: 160px;
          text-align: center;
        }
      }
    }
    section.content{
      .why{
        background-color: #4C505D;
        padding: 0 20px;
        h1{
          color: white;
          font-weight: 100;
          text-align: center;
        }
        .standards{
          .standard{
            span{
              color: white;
              display: inline-block;
              height: 84px;
              text-align: center;
              width: 100%;
              &:before{
                font-size: 3em;
                margin: 0;
              }
            }
            h5 { 
              color: white;
              font-size: 1.6em;
              font-weight: 100; 
              text-align: center;
            } 
            p{
              color: white;
              font-size: .7em;
              font-weight: 100;
              padding: 0 15px;
              text-align: center;
            } 
          }
        }
      }
    }
  }
}
